/PDOO/Material Complementario/Tema 1/PeluqueriaRuby/nbproject/private/
/PDOO/Material Complementario/Tema 1/inicio_ruby/nbproject/private/
/PDOO/Material Complementario/Tema 1/Peluqueria/build/
/PDOO/Material Complementario/Tema 1/Peluqueria/nbproject/private/
/PDOO/Material Complementario/Tema 1/Peluqueria/dist/
/PDOO/Material Complementario/Tema7/Villanos-ClaseTeoria/nbproject/private/
/PDOO/Material Complementario/Tema7/VillanosRB-ClaseTeoria/nbproject/private/
/PDOO/Material Complementario/Tema7/Aerolinia/nbproject/private/
/PDOO/Material Complementario/Tema7/Aerolinea/nbproject/private/
/PDOO/Material Complementario/Tema7/ejemplosTema7/ImplementacionEjemplosTema7/nbproject/private/
/PDOO/Material Complementario/Tema7/ejemplosTema7/ImplementacionEjemplosTema7Ruby/nbproject/private/