/PDOO/Material Complementario/Tema 1/PeluqueriaRuby/nbproject/private/
/PDOO/Material Complementario/Tema 1/inicio_ruby/nbproject/private/
/PDOO/Material Complementario/Tema 1/Peluqueria/build/
/PDOO/Material Complementario/Tema 1/Peluqueria/nbproject/private/
/PDOO/Material Complementario/Tema 1/Peluqueria/dist/